.cart-in
  .cart__front
    padding r(133) 0 0 0
    +mob()
      pt(50)
  .cart__front_double
    +xs()
      flex-wrap wrap
    h4, h2
      mb(42)


  .btn
    max-width 100%
    mb(34)


.cart__front__sizes
  display flex
  mt(107)
  mb(62)
  li
    mr(48)
  &_link
    font-size: e(18)
    font-weight: bold;
    line-height: 1.22;
    letter-spacing: r(0.9)
    color: $wt50
    display inline-block
    position relative
    text-transform uppercase
    &:after
      ba()
      top 50%
      left -(r(2))
      right -(r(2))
      height 1px
      bg($wt)
      transform translateX(100%)
      opacity 0
      trans()
    &:hover
      color $wt
      &:after
        transform none
        opacity 1

.cart-in__image
  img
    max-width 100%
  .animation-view
    display flex

    &:nth-child(even)
      justify-content flex-end
      +tab()
        margin-top -(r(50))

      +port()
        margin-top -6.250rem
      +mob()
        margin-top -6.250rem
    &:nth-child(odd)
      +tab()
        margin-top -(r(25))

      +port()
        margin-top -3.125rem
      +mob()
        margin-top -3.125rem

.section-cartin
  +pad()
    pt(0)
  +mob()
    pt(0)

.cart-in__image__main
    margin-top 0 !important

