.slider-cart
  +pad()
    margin 0 -2rem
  .cart-product
    +pad()
      margin 0 r(24)
    +mob()
      margin 0 r(5.5)
  .cart-product-right
    margin-left -(r(70))
    z-index 100
    mt(319)
    +pad()
      margin 0 r(24)
    +mob()
      margin 0 r(5.5)

  .slider-arrow
    position absolute
    bottom r(156)
    z-index 900
    +pad()
      bottom: -(r(17))
    &.right
      left: r(660)
      +pad()
        left auto
        right r(85)
    &.left
      left r(563)
      +pad()
        left auto
        right r(182)

