mixin cart-slider()
    .slider.slider-cart
        div
            +cart-product-left
        div
            +cart-product-right
        div
            +cart-product-left
        div
            +cart-product-right

    +btn-slider('смотреть Look book')

