//- layouts/layout.pug
extend layouts/_layout.pug

block title
    | Concept Bride - Про нас

block content

    +header-about()



    section(data-bg='#a19d9c').body-back
        .container
            .row
                .offset-md-1.col-md-11.offset-xl-2.col-xl-8.col-padding.rellax(data-rellax-speed='0')
                    h2.text-gradient Это твой незабываемый момент
                    p Салон, где невеста получает комплексный подход по созданию собственного образа и образа жениха, благодаря сотрудничеству с лучшими стилистами и компаниями, оказывающими свадебные сервисы. Салон, где невеста получает комплексный подход по созданию собственного образа и образа жениха,благодаря сотрудничеству случшими стилистами и компаниями, оказывающими свадебные сервисы

                    .slider-about-container
                        +slider-about()
                        +btn('Познакомимся ближе?')



                    p Невеста получает комплексный подход по созданию собственного образа и образа жениха, благодаря сотрудничеству с лучшими стилистами и компаниями, оказывающими свадебные сервисы. Салон, где невеста получает комплексный подход по созданию собственного образа и образа жениха,благодаря сотрудничеству случшими стилистами и компаниями, оказывающими свадебные сервисы


    +likeheader-about()


    section(data-bg='#a19d9c').body-back
        .container
            .row
                +near-white()


    +footer-simple()





