mixin btn(text)
    a(href='' title='').btn= text

mixin btn-tr(text)
    a(href='' title='').btn.btn-transparent= text

mixin btn-dark(text)
    a(href='' title='').btn.btn-dark= text

mixin btn-more(text)
    a(href='' title='').btn.btn-more= text

mixin btn-border(text)
    a(href='' title='').btn.btn-border= text

mixin btn-border-wt(text)
    a(href='' title='').btn.btn-border-wt= text

mixin btn-feedback(text)
    a(href='' title='').btn.btn-feedback= text

mixin btn-slider(text)
    a(href='' title='').btn.btn-slider= text

mixin btn-submit(text)
    button.btn= text