textarea
  -webkit-appearance none
  resize none
  border none
  width 100%

  padding r(15) 0 r(12)


  color: $ocean

  min-height r(48)
  //max-height 100%

  font-size: e(15.5)
  line-height: 1.42;
  letter-spacing: r(0.8)

  bg($tr)
  trans()
  &:focus
    outline none
  +placeholder()
    font-size: r(8)
    font-weight: 600;
    line-height: 2.75;
    letter-spacing: r(2.4)
    co($wt50)
    text-transform uppercase
