mixin slider-about()
    .slider.slider-about
        div
            .slide
                .box.box-dark
                    blockquote “Салон, где невеста получает комплексный подход по созданию собственного образа и образа жениха, благодаря сотрудничеству с лучшими стилистами и компаниями, оказывающими свадебные сервисы”
        div
            .slide
                .box.box-dark
                    blockquote “Салон, где невеста получает комплексный подход по созданию собственного образа и образа жениха, благодаря сотрудничеству с лучшими стилистами и компаниями, оказывающими свадебные сервисы”