include cart/cart
include cart/cart-slider

include box/box
include blog/blog
include basket/basket
include designer/designer

include info/info

include near/near

include about/about-slider

include event/event

include message/message


include summary/summary

include social-list/social-list

include instagram/instagram

include look/look