mixin accordion()
    .collection

        h2.collection_heading.link-overline
            | Total look spring/summer 2018
        .input-group_plus
        ul.collection__panel
            li
                +a('Серьги PHILIPPE AUDIBERT 0858','collection__panel_link')
            li
                +a('Обувь Badgley Mischka 3771','collection__panel_link')
            li
                +a('Диадемы и тиары Elie Saab BR92485','collection__panel_link')

        a(href='' title='').cart__delete
            include ../../_svgs/delete-01.svg






