mixin social-list()
    ul.social-list
        li
            +link-overline-icon-fb('facebook')
        li
            +link-overline-icon-inst('instagram')

mixin social-list-white()
    ul.social-list.social-list-white
        li
            +link-overline-icon-fb('facebook')
        li
            +link-overline-icon-inst('instagram')