.social-list
  df(row)
  align-items center
  justify-content space-between
  max-width 59.4%
  pt(45)

  &.social-list-white
    .link-overline-icon
      co($wt)
      &:after
        bg($wt)
      svg g
        fill $wt