mixin info()
    .info
        .info__icon
            | i
        .info__panel
            h2.color-brown Total look
            p.color-brown Добавляйте Total Look к примерке и мы не только подготовим элементы с коллекции к примерке но сможем лучшепонять твои вкусы