section
  pb(100)
  position relative
  +tab()
    pt(100)
    pb(143)
  +port()
    pt(169)
    pb(212)
  +mob()
    pt(85)
    pb(106)

//  pb(196)
//  pt(168)
//  pb(270)


//
//  pt(216)
//  pt(269)
//
//  pb(302)
//  pb(231)
//  pb(254)
//  pb(245)

//aside {}

main
  trans()
  &.filter
    filter blur(5px)

//address {}

