mixin datepicker(placeholder)
    .input-group.input-group-picker
        input(type='text', placeholder= placeholder).datepicker
        .input-group_line
        .input-group_error
            | Выберите дату
        .input-group_plus