@import "../../../vars/vars"

base-init()
  @-ms-viewport
    width: device-width;

  html
    font-size $base-font-pixels
    box-sizing: border-box;
    -ms-overflow-style: scrollbar;

  *,
  *::before,
  *::after
    box-sizing: inherit;
