


select
  width 100%
  font-size: e(8)
  font-weight: 600;
  line-height: 2.75;
  letter-spacing: r(2.4)
  co($ocean)
  bg($tr)
  border none
  padding r(15) 0
  border-radius 0
  -webkit-appearance none
  -moz-appearance none
  trans()
  &:focus
    outline none

//.select-group
//  position relative
//  mb(20)
//  &:after
//    triangle($bk, down, 4px)
//    top calc(50% - 2px)
//    right 15px
//
//.select-group-noarrow
//  &:after
//    display none