mixin message()
    section.section-message
        .container
            .row.justify-content-center
                .col-10.col-xl-6
                    h2.text-gradient Примерь мечту
                    p Вас ждут удобные и красивые примерочные, в которых можно собрать своих подруг на вкусный бокал шампанского и превратить примерку платья в мини-девичник
                    .btn-pair.btn-pair-center
                        +btn-border('записаться на примерку')