a(href='//volta.one' title='Volta Agency' target='_blank').volta
    span.volta--text created by
    span.volta--visible
        include ../../_svgs/volta1.svg

    span.volta--hidden
        include ../../_svgs/volta2.svg