.volta
  float right
  display block
  position relative
  &--text
    fs(0.625em)
    co(#bebebe)
    position relative
    top -3px
    margin-right r(5)
  &--visible
    svg
      width r(62)
      g
        fill #BEBEBE
  &--hidden
    position absolute
    right 0
    top 0
    height 0
    overflow hidden
    trans()
    svg
      width r(62)
      g
        fill #7521E1
  &:hover
    .volta--hidden
      height 100%