mixin arrow-left-dark
    .slider-arrow.slider-arrow-dark.left
        include ../../_svgs/arrow_left.svg

mixin arrow-right-dark()
    .slider-arrow.slider-arrow-dark.right
        include ../../_svgs/arrow_right.svg

mixin arrow-left-light()
    .slider-arrow.slider-arrow-light.left
        include ../../_svgs/arrow_left.svg

mixin arrow-right-light()
    .slider-arrow.slider-arrow-light.right
        include ../../_svgs/arrow_right.svg