


.slick-loading .slick-list
  background: #fff url('../img/slick/ajax-loader.gif') center center no-repeat;

@font-face
  font-family: 'slick';
  font-weight: normal;
  font-style: normal;
  src: url('../fonts/slick/slick.eot');
  src: url('../fonts/slick/slick.eot?#iefix') format('embedded-opentype'), url('../fonts/slick/slick.woff') format('woff'), url('../fonts/slick/slick.ttf') format('truetype'), url('../fonts/slick/slick.svg#slick') format('svg');


//.slider
  //pb(30)
  //.slide
  //  display flex !important
  //  justify-content center
  //  align-items center
  //  height 350px
  //  overflow hidden
  //  &:focus
  //    outline none

  //.slick-dots
  //  bottom 0
  //  left 0
  //  right 0
  //  display flex
  //  justify-content center
  //  li
  //    width auto
  //    height auto
  //    margin 0 r(3)
  //    button
  //      padding 0
  //      border-radius 50%
  //      bg(#ccc)
  //      width 10px
  //      height 10px
  //      fs(0)
  //      trans()
  //      &:before
  //        display none
  //      &:hover
  //        bg(blue)
  //  .slick-active
  //    button
  //      bg(blue)

//.slider-counter
//  fs(48)
//  mb(16)
//  text-align right
//
//.slider.slick-dotted.slick-slider
//  mb(30)
//
//.slider-two, .slider-three
//  margin 0 -.938em
//  .slide
//    margin 0 r(15)
//    overflow hidden
