.switch
  position: relative;
  display: inline-block;
  width: 50px;
  height: 23px;
  input
    display none
    &:checked + .switch-slide
      background: blue
      &:before
        transform: translateX(26px);

    &:focus + .switch-slide
      box-shadow: 0 0 1px #2196F3;

.switch-slide
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #ccc
  trans()
  &:before
    pseudo(block,absolute)
    height: 15px;
    width: 15px;
    left: 4px;
    bottom: 4px;
    background: $white;
    trans()


.switch-slide.switch-round
  border-radius: 34px;
  &:before
    border-radius: 50%;

.switch.error
  .switch-slide
    background red
  input
    &:checked + .switch-slide
      background: red


//validation

.switch.success
  .switch-slide
    background green
  input
    &:checked + .switch-slide
      background: green

.switch.disabled
  .switch-slide
    background #e5e5e5
    cursor auto
  input
    &:checked + .switch-slide
      background: #e5e5e5