mixin  timepicker(placeholder)
    .input-group.input-group-picker
        select.chosen-select(data-placeholder="ВРЕМЯ")
            option
            option 09:00 - 10:00
            option 10:00 - 11:00
            option 11:00 - 12:00
            option 12:00 - 13:00
            option 13:00 - 14:00
            option 14:00 - 15:00
            option 15:00 - 16:00
            option 16:00 - 17:00
            option 17:00 - 18:00
        .input-group_line
        .input-group_error
            | Выберите дату
        .input-group_plus