.form-catalog
  display flex
  justify-content space-between
  mb(60)
  +mob()
    flex-wrap wrap
  .input-group-catalog
    flex 0 0 calc(50% - 2.688rem)
    max-width calc(50% - 2.688rem)
    +mob()
      flex 0 0 100%
      max-width 100%