mixin slider-summary()
    .slider.slider-summary
        +slider-summary-slide()
        +slider-summary-slide()


mixin slider-summary-slide()
    div
        .slide
            .row

                .offset-md-1.col-md-11.offset-xl-5.col-xl-7
                    .slider-look__image-right
                        +img('img/illus/summary/summary1.png')

