$bk = #000
$wt = #fff
$gr = #a9a9a9
$gr2 = #ccc
$tr = transparent

$drop = #f0f0f0

$ocean = #f1eef4
$ocean-dark = #f3e6e5
$brown = #8c7572
$brown50 = rgba(140 117 114, 0.5)
$brown-light = #c1a5a1
$gray = #a19d9c
//$gra
$gray-dark = #7b7b80
$gray-darker = #878485
$dark = #313036
$wt30 = rgba(255,255,255,.3)
$wt40 = rgba(255, 255, 255, .4)
$wt50 = rgba(255, 255, 255, .5)
$wt60 = rgba(255, 255, 255, .6)
$wt75 = rgba(255, 255, 255, .75);
$wt56 = rgba(255, 255, 255, 0.56)

gradient()
  background-image: linear-gradient(to left, #bfa39f, #dcc3bf);
