$base-font-size = 16
$base-font-pixels = $base-font-size * 1px

//$m-font = "AvenirNext"
//$m-font = "Cera"
//$m-font = "Circe"
//$m-font = "Comfortaa"
//$m-font = "DejaVu"
//$m-font = "Futura PT"
//$m-font = "Gotham Pro"
//$m-font = "Helvetica"
//$m-font = "Lato"
//$m-font = "Lobster"
//$m-font = "MuseoSans"
//$m-font = "Open Sans"
//$m-font = "Open Sans Condensed"
//$m-font = "Oswald"
//$m-font = "Pattaya"
//$m-font = "Proxima Nova"
$s-font = 'Playfair Display'
$m-font = 'Raleway'
//$m-font = "PT Sans"
//$m-font = "Raleway"
//$m-font = "Roboto"
//$m-font = "Roboto Condensed"

$r-font = -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial