$column-number = 12
$column-gutter = 30

$breakpoints-count = 5

prefixes = ('' sm md lg xl xxl)
breakpoints = ('' 568 768 992 1200 1600)
container-width = (100% 540px 720px 960px 1170px 1500px)

flex-properties = (justify-content align-items align-self)

justify-content-properties = (flex-start flex-end center space-between space-around)
justify-content-flex-prefixes = (start end center between around)
align-items-self-flex-prefixes = (flex-start flex-end center baseline stretch)
align-items-self-properties = (start end center baseline stretch)