include ../../components/_base/_base
include ../../components/_layout/_layout
include ../../components/_partials/_partials
include ../../components/_forms/_forms
include ../../components/_widgets/_widgets
include ../../components/_modules/_modules
include ../../components/_widgets/slider/slider-arrows