mixin event()
    .event
        .event__left
            .blog__date
                | 07 Ноября 2018
            .event_time
                | 19:00
        .event__right
            h2 Призентация новой коллекции весна/лето 2018
            p Это легкость и свежесть которая переросла в твою утонченность. Специальный гость Катерина Осадча.
            .btn-pair
                +btn('Узнать детали')
                +link-overline('Зарегестрироваться')

mixin event-past()
    .event.event-past
        .event__left
            .blog__date
                | 07 Ноября 2018
            .event_time
                | 19:00
        .event__right
            h2 Призентация новой коллекции весна/лето 2018
            p Это легкость и свежесть которая переросла в твою утонченность. Специальный гость Катерина Осадча.
            .btn-pair
                +link-overline('Посмотреть отчет')