retinanon()
  @media not screen and (-webkit-min-device-pixel-ratio: 2), not screen and (min--moz-device-pixel-ratio: 2), not screen and (-o-min-device-pixel-ratio: 2/1), not screen and (min-device-pixel-ratio: 2), not screen and (min-resolution: 192dpi), not screen and (min-resolution: 2dppx)
    {block}

retina()
  @media screen and (-webkit-min-device-pixel-ratio: 2), screen and (min--moz-device-pixel-ratio: 2), screen and (-o-min-device-pixel-ratio: 2/1), screen and (min-device-pixel-ratio: 2), screen and (min-resolution: 192dpi), screen and (min-resolution: 2dppx)
    {block}

rmmax($width)
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $width), screen and (min--moz-device-pixel-ratio: 2) and (max-width: $width), screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $width), screen and (min-device-pixel-ratio: 2) and (max-width: $width), screen and (min-resolution: 192dpi) and (max-width: $width), screen and (min-resolution: 2dppx) and (max-width: $width)
    {block}

rmmin($width)
  @media screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $width), screen and (min--moz-device-pixel-ratio: 2) and (min-width: $width), screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: $width), screen and (min-device-pixel-ratio: 2) and (min-width: $width), screen and (min-resolution: 192dpi) and (min-width: $width), screen and (min-resolution: 2dppx) and (min-width: $width)
    {block}

rnmmax($width)
  @media not screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: $width), not screen and (min--moz-device-pixel-ratio: 2) and (max-width: $width), not screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: $width), not screen and (min-device-pixel-ratio: 2) and (max-width: $width), not screen and (min-resolution: 192dpi) and (max-width: $width), not screen and (min-resolution: 2dppx) and (max-width: $width)
    {block}

rnmmin($width)
  @media not screen and (-webkit-min-device-pixel-ratio: 2) and (min-width: $width), not screen and (min--moz-device-pixel-ratio: 2) and (min-width: $width), not screen and (-o-min-device-pixel-ratio: 2/1) and (min-width: $width), not screen and (min-device-pixel-ratio: 2) and (min-width: $width), not screen and (min-resolution: 192dpi) and (min-width: $width), screen and (min-resolution: 2dppx) and (min-width: $width)
    {block}