// ----- MARGIN CENTER -----
mc()
  margin-left auto
  margin-right auto




// ----- POSITION -----
pos($top = false, $right = false, $bottom = false, $left = false)
  if $top
    top $top
  if $left
    left $left
  if $right
    right $right
  if $bottom
    bottom $bottom

// REM SIZES
r(n)
  (n * ( 1 / $base-font-size ))rem

// EM SIZES
e(n)
  (n * ( 1 / $base-font-size ))em

//  MARGINS

mt($sz)
  margin-top r($sz)

mr($sz)
  margin-right r($sz)

mb($sz)
  margin-bottom r($sz)

ml($sz)
  margin-left r($sz)

//  PADDINGS

pt($sz)
  padding-top r($sz)

pr($sz)
  padding-right r($sz)

pb($sz)
  padding-bottom r($sz)

pl($sz)
  padding-left r($sz)