@import "../vars/vars.styl"

// FONT
font($rz = false, $wght = false, $lh = false)
  if $rz
    font-size: $rz
  if $wght
    font-weight: $wght
  if $lh
    line-height: $lh


//  FONT SIZE
fs($fontsize)
  font-size e($fontsize)

//  FONT WEIGHT
fw($fontweight)
  font-weight: $fontweight

// TEXT OVERLOW
to()
  white-space nowrap
  overflow hidden
  text-overflow ellipsis

// PLACEHOLDER
placeholder()
  &:-moz-placeholder
    {block}
  &::-moz-placeholder
    {block}
  &:-ms-input-placeholder
    {block}
  &::-webkit-input-placeholder
    {block}