// HIDDEN

$hidden
  opacity 0
  visibility hidden
  z-index -1

// VISIBLE
$visible
  opacity 1
  visibility visible
  z-index 1

$visible-1
  opacity 1
  visibility visible


// DISPLAY FLEX
df($direction)
  display flex
  if $direction == col
    flex-direction column

// PSEUDO
ba()
  content: ''
  display: block
  position: absolute

//  TRANSITIONS
trans()
  transition: all 0.4s ease

// TRIANGLE
triangle($colour, $direction, $rize)
  ba()
  width: 0
  height: 0
  if $direction == down
    border-left: $rize solid transparent
    border-right: $rize solid transparent
    border-top: $rize solid $colour
  else if $direction == up
    border-left: $rize solid transparent
    border-right: $rize solid transparent
    border-bottom: $rize solid $colour
  else if $direction == right
    border-top: $rize solid transparent
    border-bottom: $rize solid transparent
    border-left: $rize solid $colour
  else if $direction == left
    border-top: $rize solid transparent
    border-bottom: $rize solid transparent
    border-right: $rize solid $colour

// COLOR
co($txtcolor)
  color $txtcolor


// BACKGROUND COLOR
bg($bgcolor)
  background-color $bgcolor

dsnone()
  @keyframes ds-none {
    0% {
      opacity: 0;
    }
  } 

//animation ds-none .2s both  