include ../../utilities/pug/utilities.pug

doctype html

html

    include ../../components/_layout/head/head

    body
        include ../../components/_layout/preloader/preloader

        .line.line-1
        .line.line-2
        .line.line-3
        .line.line-scroll

        include ../../components/_layout/navigation/navigation

        main

            block content


        script(type="text/javascript" src="js/vendor.js")
        //script(type="text/javascript" src="js/noui.js")
        script(type="text/javascript" src="js/scripts.js")