mixin near-white()
    .offset-md-1.col-md-11.offset-xl-2.col-xl-6.col-padding
        h2.text-gradient Будь ближе
        p Подписывайся на наши соцсети и будь всегда вкурсе наших новостей, трендов сезона и наших ивентов, которые мы делаем для тебя
        +social-list-white()

mixin near()
    .offset-md-1.col-md-11.offset-xl-2.col-xl-6.col-padding
        h2.text-gradient Будь ближе
        p.color-brown Подписывайся на наши соцсети и будь всегда вкурсе наших новостей, трендов сезона и наших ивентов, которые мы делаем для тебя
        +social-list()