@import "../utilities/styl/utilities.styl"

//font-awesome
//@import '../../node_modules/font-awesome/css/font-awesome.css'

//@font-face
//  font-family: 'FontAwesome';
//  src: url('../fonts/Font-Awesome/fontawesome-webfont.eot?v=4.7.0');
//  src: url('../fonts/Font-Awesome/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('../fonts/Font-Awesome/fontawesome-webfont.woff2?v=4.7.0') format('woff2'), url('../fonts/Font-Awesome/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('../fonts/Font-Awesome/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('../fonts/Font-Awesome/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');
//  font-weight: normal;
//  font-style: normal;

//REW GRID
@import "../utilities/styl/mixins/mix-grid/mix-grid.styl"

//bootstrap 4
//@import '../../node_modules/bootstrap/dist/css/bootstrap-reboot.css'
//@import '../../node_modules/bootstrap/dist/css/bootstrap-grid.css'
//@import '../../node_modules/bootstrap/dist/css/bootstrap.css'
//@import '../source/rew-ui-kit/rew-bootstrap-xxl/bootstrap-grid-xxl.css'

//chosen
@import '../../node_modules/chosen-js/chosen.css'

//slick
@import '../../node_modules/slick-carousel/slick/slick.css'
//@import '../../node_modules/slick-carousel/slick/slick-theme.css'

//fancybox
@import "../../node_modules/@fancyapps/fancybox/dist/jquery.fancybox.css"

//aos
//@import "../../node_modules/aos/dist/aos.css"

//flatpickr
@import "../../node_modules/flatpickr/dist/flatpickr.css"

//timepicker
//@import "../../node_modules/jquery-timepicker/jquery.timepicker.css"

//nouislider
//@import "../../node_modules/nouislider/distribute/nouislider.css"

//select2
@import "../../node_modules/select2/dist/css/select2.css"